@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap");

// css에서의 파일 @import 사용
// @import url("../reset.scss");

// scss에서의 파일 @import 사용
// @import "../reset";

@import "./12_PartialImportFile.scss";

.import-file-container {
	div {
		margin: 0.5rem 0;
		padding: 0.5rem 0.875rem;
		border-radius: 10px;
	}
	p,
	li {
		font-family: "Raleway", sans-serif;
	}
	.local-file-container {
		background-color: aliceblue;
	}
}
